@media print {
	.a {}
	.b {}
}

@media screen and (resolution: 50.82dpcm) {
	#a {}
	.c {}
}

@supports (display: grid) {
	.d {
		color: #000;
	}

	@media (min-width: 900px) {
		.e {
			color: #fff;
		}
	}
}

/* .foo and .bar */
@container (max-width: 420px) {
	#b {
		display: none;
	}

	.a {
		font-size: 1.25rem;
	}
}

/* #baz */
@container (min-width: 9000px) {
	.b {
		gap: 1.75rem;
	}
}
