@media print {
	.SELECTOR-1 {}
	.SELECTOR-2 {}
}

@media screen and (resolution: 50.82dpcm) {
	#SELECTOR-3 {}
	.SELECTOR-4 {}
}

@supports (display: grid) {
	.SELECTOR-5 {
		color: #000;
	}

	@media (min-width: 900px) {
		.SELECTOR-6 {
			color: #fff;
		}
	}
}

/* .foo and .bar */
@container (max-width: 420px) {
	#SELECTOR-1 {
		display: none;
	}

	.SELECTOR-1 {
		font-size: 1.25rem;
	}
}

/* #baz */
@container (min-width: 9000px) {
	.SELECTOR-2 {
		gap: 1.75rem;
	}
}
