@import "reset.css";
@import 'print.css';
@import url("reset.css");
@import url('print.css');
@import url(theme.css);
@import url("fineprint.css") print;
@import url("bluish.css") print, screen;
@import "common.css" screen;
@import url("landscape.css") screen and (orientation: landscape);
@import url("narrow.css") supports(display: flex) screen and (max-width: 400px);
@import "theme.css" layer(utilities);
@import url(headings.css) layer(default);
@import url(links.css) layer(default);

@media print {
	.CLASS-1 {}
	.CLASS-2 {}
}

@media screen and (resolution: 50.82dpcm) {
	#ID-1 {}
	.CLASS-3 {}
}

@supports (display: grid) {
	.CLASS-4 {
		color: #000;
	}

	@media (min-width: 900px) {
		.CLASS-5 {
			color: #fff;
		}
	}
}

/* .foo and .bar */
@container (max-width: 420px) {
	#ID-2 {
		display: none;
	}

	.CLASS-1 {
		font-size: 1.25rem;
	}
}

/* #baz */
@container (min-width: 9000px) {
	.CLASS-2 {
		gap: 1.75rem;
	}
}

@keyframes foo-animation {
	0% {}
	33.33% {}
	66.66% {}
	100% {}
}

@keyframes bar-animation {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(100%);
	}
}
